@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');



@import url('./dashboard.css');
@import url('./welcome.css');
@import url('./notification.css');
@import url('./referral.css');
@import url('./contact.css');
@import url('./profile.css');
@import url('./videos.css');
@import url('./music.css');
@import url('./withdraw.css');
@import url('./transactions.css');
@import url('./rate.css');
@import url('./articles.css');
@import url('./plans.css');
@import url('./about.css');


:root {
  /* --primary-color: #a40202; */
  --primary-color: #A31635;
  --primary-lite-color: #a4020217;
  --primary-color-hover: #c50c34;

  --secondary-color: #140101;
  --secondary-lite-color: #14010188;


  --white: #ffffff;
  --lite-white: #ffffff75;

  --overlay-color: rgba(0, 0, 0, 0.5);
  --my-transperent: #00000000;

  --success-color: #2ebb0a;
  --success-lite-color: #2dbb0a82;

  /* on hero */
  --my-rgba-color: radial-gradient(rgba(0, 0, 0, 0.7));

  --my-bg: #f4f4f4;


}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none !important;
}

body {
  /* background: var(--my-bg) !important; */
  background: linear-gradient(var(--white)0%, var(--primary-lite-color)100%);
  color: green !important;


}

.pages-header-box {
  color: var(--primary-color);
}

body.sidebar-open {
  overflow: hidden;
}

.muted-text {
  color: var(--secondary-lite-color);
  font-size: 0.8rem;
}

img {
  width: 100%;
  height: 100%;
}




button {
  background: var(--primary-color) !important;
  border-radius: 0.3rem !important;
  transition: 0.50s ease-in-out;
}

button:hover {
  background: var(--primary-color-hover) !important;
  transition: all 0.50s ease-in-out;

}


.button-submit {
  color: var(--white);
  padding: 0.7rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}



.global-container {
  /* background: radial-gradient(var(--secondary-color)); */
  /* background: radial-gradient(circle at left top, var(--secondary-lite-color), var(--white)); */

  min-height: 100vh;
  position: relative;
}

.logo-link {
    color: var(--white);
}

.logo-link .logo-span {
    color: var(--white);
}


.logo-link img {
  width: 1.5rem;
  height: auto;
}

.pages-row {
  /* background: var(--black-lite-color); */

  max-width: 60rem;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}


.dash-menu-icon-box {
  cursor: pointer;
  display: flex;
  border-radius: 50%;
  padding: 0.2rem;
  flex-direction: column;
  width: 40px;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.dash-menu-icon-box.active {
  display: none;
}

.dash-close-btn-box {
  display: none;
  border-radius: 0.3rem;
  z-index: 1003;
  background-color: var(--primary-lite-color);
  color: var(--white);
  transition: 0.5s ease-in-out;

}

.dash-close-btn-box i:hover {
  transition: 0.5s ease-in-out;
  color: var(--primary-color);

}

.dash-close-btn-box.active {
  display: flex;
}


 .my-sidebar{
  display: none;
 }



.menu-icon-box {
  cursor: pointer;
  display: none;
  border-radius: 50%;
  padding: 0.2rem;
  flex-direction: column;
  width: 40px;
  align-items: center;
  justify-content: center;
  z-index: 1200;
  height: 40px;
}

/* SHARING WITH DASHBOARD CSS */
.menu-icon {
  background-color: var(--white);
  width: 30px;
  height: 2px;
  margin: 2.5px;
  border-radius: 10px;
}

.menu-icon:nth-child(1) {
  width: 18px;
  margin-left: 0.4rem;

}

.menu-icon:nth-child(3) {
  width: 18px;
  margin-right: 0.5rem;
  margin-left: auto;
  transition: 0.5s ease-in-out;

}

.sidebar-close-btn-box {
  background-color: var(--lite-white);
  border-radius: 0.3rem;
}
.sidebar-close-btn-box i{
  font-size: 1rem;
}

.sidebar-close-btn-box i:hover {
  color: var(--primary-color);
  transition: 0.5s ease-in-out;
}

::-webkit-scrollbar {
  display: none;
}

.button-wrapper {
  max-width: 40rem;
  width: 100%;
}




/* --------LOGIN */


.form-wrapper {
  min-height: 30rem;
  max-width: 40rem;
  background: linear-gradient(var(--white)0%, var(--primary-lite-color)100%);

}

.form-container {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(2px);
  max-width: 30rem;
  color: var(--primary-color);
}


.input-field {
  width: 100%;
  padding: 0.5rem;
  padding-left: 2.5rem;
  border-radius: 0.3rem;
  border: 0;
  background: var(--primary-lite-color);
}

.input-field:focus {
  border: 0;
  outline: 0;
  box-shadow: 0px 0px 4px 2px var(--primary-color);

}

.input-wrapper label,
.forgot-password-link {
  color: var(--primary-color) !important;

}

.input-icon {
  position: absolute;
  left: 0.8rem;
  top: 30%;
  color: var(--x-accent-color);
  pointer-events: none;
}


.register-here-or-login {
  color: var(--primary-color);

}

.register-here-or-login img {
  width: 0.7rem;
}










/* --------REGISTER */







.form-input {
  outline: none;
  /* background: var(--secondary-color); */
  border: 0.01rem solid var(--primary-color) !important;
  color: var(--secondary-color);
  border: none;
  z-index: 100;
  padding: 0.7rem !important;
}

.profile-input {
  max-width: 15rem;
  overflow: hidden;
}



.form-control {
  max-width: 15rem;
  background: var(--lite-white) !important;
  border: none !important;
  color: var(--white) !important;
}

.form-control:focus {
  box-shadow: none !important;
  border: none !important;
}



.input-wrapper label {
  color: var(--white);
}

/* ::placeholder {
    color: var(--lite-white);
} */

.warning-text {
  border: 0.01rem solid var(--bs-warning);
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.7rem;
}

.claim-reward {
  color: var(--white);
  font-size: 0.7rem;
  padding: 0.2rem;
  white-space: nowrap;

}


/* BANK MODAL */


.form-select-input {
  background: var(--secondary-color);
  border: none;
  padding: 0.7rem !important;
  color: var(--white);
  border: 0.01rem solid var(--primary-color) !important;
}


.form-select-input:focus {
  box-shadow: none !important;
  outline: none;
  border: 0.01rem solid var(--secondary-color) !important;

}


.form-wrapper {
  width: 100% !important;
  max-width: 40rem;
  margin: auto;

}


/* PLAN MODAL STYLE */
.modal-wrapper {
  width: 100%;

  align-items: center;
  justify-content: center;
  display: flex;
}


.plan-header-text-wrapper,
.withdraw-header-text-wrapper {
  color: var(--white);
}

.withdraw-modal {
  background: radial-gradient(circle at left, var(--secondary-lite-color) 40%, var(--primary-color)) !important;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(10px)
}


.payment-method-modal {
  border-radius: 1rem;
  box-shadow: 0rem 0rem 0.5rem var(--);
  border: 0.01rem solid var(--white);
  margin: auto;
}


.modal {
  z-index: 1000;
}


.offcanvas-header {
  color: var(--white);
}

.withdraw-available-bal-text-wrapper p,
.withdraw-available-bal-text-wrapper span {
  color: var(--white);
}

.modal-header-close-icon-box i {
  cursor: pointer !important;
  color: var(--primary-color);
}


.modal.fade .modal-dialog {
  transform: translateY(50px) !important;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out !important;
  opacity: 0 !important;
}

.modal.fade.show .modal-dialog {
  transform: translateY(0) !important;
  opacity: 1 !important;
}

/* MEDIA QUERIES */

@media(max-width: 336px) {
  .my-about-section-card .my-about-section-card-description {
    font-size: clamp(0.7rem, 1.1vw, 1rem) !important;

  }


}

@media(max-width: 400px) {

  .my-about-section-card .my-about-section-card-title {
    margin-bottom: 1rem;
  }

  .my-about-section-card .my-about-section-card-description {
    font-size: clamp(0.8rem, 1.2vw, 1rem);

  }
}


@media(max-width: 562px) {


  .my-about-section-card-wrapper {
    backdrop-filter: blur(20px);
    z-index: 999;
    flex-direction: column;
  }

  .my-about-section-card {
    border-radius: 3px;
    height: clamp(10rem, 15vw, 25rem);
    width: clamp(100%, 20vw, 30rem);
    transition: 0.3s ease;


  }

  .my-about-section-card .my-about-section-card-description {
    font-size: 0.9rem;

  }

  .my-hero-action-button-wrapper {
    flex-direction: column;
    transition: 0.3s ease;

  }

  .my-navbar {
    padding: 0px !important;

  }

}



@media(max-width: 600px) {

  .my-about-section-card .my-about-section-card-title {
    font-size: clamp(2rem, 1.2vw, 1rem);

  }

  .my-dashboard-card-wrapper {
    flex-wrap: wrap;
  }

.dashboard-user-profile{
  display: none !important;
}

}


@media(max-width: 700px) {

  .my-navbar-ul {
    display: none !important;
  }

  .menu-icon-box {
    display: flex;
  }

  .my-navbar-action-button-wrapper {
    display: none !important;
  }

  .my-footer {
    flex-direction: column;
  }


  #sign-in {
    color: var(--white);
    border: 0.01rem solid var(--primary-color);
    transition: 0.5s ease-in-out;
    width: 100%;
  }

  #sign-up {
    width: 100%;
    transition: 0.5s ease-in-out;
  }


  /* ---------------SIDEBAR STYLE--------------------- */

  .my-sidebar {
    position: fixed;
    background: linear-gradient(var(--primary-color), var(--secondary-color));

    top: 0;

    left: -100%;
    min-width: 10rem;
    max-width: 18rem;
    height: 100%;
    min-height: 100%;
    display: flex !important;
    overflow-y: auto;
    color: var(--white);
    z-index: 1002;
    transition: left 0.5s ease-in-out;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
  }


  .my-sidebar.active {
    left: 0;
  }

  .back-drop {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    transition: opacity 1s ease;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
  }

  .back-drop.active {
    opacity: 1;
    visibility: visible;
  }




  /* ---------------SIDEBAR STYLE--------------------- */



  .my-sidebar-ul .nav-link {
    border-radius: .3rem;

  }

  .my-sidebar-ul .nav-link:hover {
    background: radial-gradient(circle, var(--primary-color) 50%, var(--secondary-color));
  }






  /* DASHBOARD */




  /* .my-dashboard-card-wrapper .my-dashboard-card {
    min-width: 17rem;
    max-width: 13rem;
} */


}


@media(max-width: 868px) {

  .my-about-section-card {
    border-radius: 3px;
    height: clamp(10rem, 15vw, 25rem);
    width: clamp(100%, 20vw, 30rem);

  }

  /* DASHBOARD */
  .dashboard-card-wrap {
    flex-wrap: wrap;
  }


}
