


.rate-container{
    /* background: var(--secondary-lite-color); */
    /* -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px); */


}

.rate-wrapper div{
    width: 100%;
    max-width: 10rem;
    height: 0.01rem;
    background-color: var(--primary-lite-color);
}
.rate-wrapper h5{

    color: var(--primary-color);
    font-size: 1rem;


}
